/* Header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  width: 100%;
  height: 100vh; }

.navbar {
  background-image: linear-gradient(to left, #073763 0%, white 100%);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .navbar .navbar-brand img {
    width: 100px; }
    .navbar .navbar-brand img .nav__cart {
      color: black; }

@keyframes logo {
  0% {
    transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg);
    transform: rotateY(360deg); } }

.logo:hover {
  animation: logo 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

/* BANNER */
.hero {
  width: 100%;
  background-size: cover;
  margin-top: 7.5rem; }
  .hero .banner {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }

/* CARDS */
.titleCards {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 3rem; }
  .titleCards h1 {
    font-size: 7.5rem; }

.titleCards:hover {
  animation: titleCards 1.5s ease-in-out infinite both; }

@keyframes titleCards {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out; }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out; }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in; }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

.section__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 10rem;
  text-align: center;
  justify-content: space-around; }
  .section__cards .card1 {
    width: 310px;
    height: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 4px;
    background-image: url(../Img/imgW/GFB1.jpg);
    background-size: cover; }
  .section__cards .card2 {
    width: 310px;
    height: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 4px;
    background-image: url(../Img/imgW/GFB2.jpg);
    background-size: cover; }
  .section__cards .card3 {
    width: 310px;
    height: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 4px;
    background-image: url(../Img/imgW/GFB3.jpg);
    background-size: cover; }

.card:hover {
  animation: card 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes card {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

/* Footer*/
.ms-3:hover {
  animation: ms-3 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes ms-3 {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

/* media queries */
@media screen and (min-width: 0px) and (max-width: 765px) {
  .navbar-nav {
    align-items: center; }
  .titleCards h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif; }
  .section__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly; }
    .section__cards .card {
      width: 305px;
      margin-top: 5rem; } }
