.img__404{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    .image__error {
        width: 500px;
        img{
            width: 500px;
        }
    }
    .title__error{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 8rem;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.10);
        }
        h3{
            font-weight: bold;
        }
        p{
            font-family: "poppins" sans-serif;
            font-size: 40px;
            width: 70%;
            font-weight: 100;
        }
    }
}










@media screen and (min-width: 0px) and (max-width: 765px){
    
    
    .img__404{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 10rem;
        .image__error {
            width: 400px; 
            img{
                width: 400px;
            }         
        }
    }
    
}