/* Footer*/

.ms-3:hover{
    animation: ms-3 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    @keyframes ms-3 {
        0% {
        transform: scale(0.5);
        }
        100% {
        transform: scale(1);
        }
    }
}


