/* Footer*/


.footer{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to left, #073763 0%, white 100%);
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        .social-items{
            list-style: none;
            a{
                padding: 10px 20px;
                font-size: 35px;
                color: darkblue;
                transition: all .25s;
                &:hover{
                    color: darkgoldenrod;
                }
            }
        }
    }
}

.quick-links{
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        padding: 0;
        .quick-items{
            list-style: none;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                padding: 0 15px;
                font-size: 18px;
                color: black;
                transition: all .25s;
                &:hover{
                    color: darkgoldenrod;
                }
            }
        }
    }
}

.outer-footer{
    
    padding: 15px;
    text-align: center;
    color: gray;
    font-size: 18px;
    font-weight: 100;
}

// @media only screen and (max-width: 500px) {
//     .quick-links ul{
//         display: flex;
//         flex-direction: column;

//     }
//     .quick-links ul li{
//         padding-top: 20px;
//     }

//     .contact__form{
//         display: flex;
//         flex-direction:column;
//         align-items: center;
        
//         width: 60%;
//         height: auto;
//     }
//     .contact_info{
//         align-items: center;
//         text-align: center;
//         margin-right: 0;
//     }

    

//     .form{
//         margin-top: 4rem;
//     }

//     .checkBox button{
//         display: flex;
//         flex-direction: column;
//         margin-top: 2rem;
//         margin: 0 auto;
    
//     }
// }


