/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BBBBBB' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BBBBBB' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh; }



.navbar{
    background-image: linear-gradient(to left, #073763 0%, white 100%);
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        .navbar-brand img{
            cursor: pointer;
            width: 100px;
        }     
        .nav__cart{
            svg{
                width: 40px;
                height: 40px;
                &:hover{
                    fill: goldenrod;
                }
            }
        }
        .nav-item{
            font-size: 20px;
        }
}



.nav-link{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        text-decoration-color: goldenrod;
    }
}



@keyframes logo{
    0% {
        transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
        transform: rotateY(360deg);
    }      
}

.logo:hover{
    animation: logo 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}


