/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.body {
    // background-color: $bg;
    width: 100%;
    height: 100vh; }



.navbar{
    background-image: linear-gradient(to left, #073763 0%, white 100%);
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        .navbar-brand img{
            width: 100px;
            .nav__cart{
                color: black;

            }
        }     
}

@keyframes logo{
    0% {
        transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
        transform: rotateY(360deg);
    }      
}

.logo:hover{
    animation: logo 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}


