/* media queries */

@media screen and (min-width: 0px) and (max-width: 765px){

    .navbar-nav{
        align-items: center;
    } 

    .titleCards h1{
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
    }
	.section__cards{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        .card{
            width: 305px;
            margin-top: 5rem;
        }
    }
}
