/* media queries */

@media screen and (min-width: 0px) and (max-width: 765px){

    .navbar-nav{
        align-items: center;
        font-size: 40px;
        font-weight: 300;  
    } 
    .nav__cart{
        text-align: center;
        padding-bottom: 30px;
        svg{
            width: 40px;
            height: 40px;
            &:hover{
                fill: goldenrod;
            }
        }
    }
    // .hero__div{
    //     width: 100%;
    // }
    // .banner{
    //     width: 100%;
    // }
    .titleCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 6rem;
        .p__1{
            font-family: 'Secular One', sans-serif;
            font-size: 40px;
            font-weight: 200;
            color:rgb(90, 25, 25);
        }
        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 50px;
            display: flex;
            flex-wrap: wrap;
            
        }
        .p__2{
            font-size: 50px;
            display: flex;
            flex-wrap: wrap;
        }
        .p__3{
            font-size: 30px;
            span{
                color: goldenrod;
            }
        }
    }
    
.h__cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin:2rem 4rem; 
}

.reviews{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    margin: 4rem;
        .review__card{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            margin:0 auto; 
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            width: 350px;
            border-radius: 15px;
            margin-top: 2rem;
            
            
            .review__image{
                .review__img{
                    padding: 5px;
                    width: 150px;
                    height: auto;
                    border-radius: 15px;
                }
            }
            
    }
}

.title__products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    padding: 0 10px;
    h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 60px;
    }
    p{
        font-size: 30px;
        font-weight: 100;
        width: 80%;
        text-align: center;
    }
}

.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin:2rem 4rem; 
    .cardM{
        margin: 1rem;
    }
}
	.p__cards{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin:2rem 4rem; 
    }

    
    .title__aboutus{
        display: flex; 
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
    }   
    .title__aboutus h2{
        font-size: 40px;
    }
    
    
    .section__contact{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .nameCard {
        width: 300px;
        height: 300px;
        margin: 30px;
    }
    .nameCard .front h3 {
        width: 300px;
        height: 300px;
        line-height: 300px;
        color: rgb(44, 45, 76);
    }
    .nameCard .back h3 {
        font-size: 70px;
        margin-top: 70px;
        letter-spacing: 1px;
    }    

    .contact__form{
        display: flex;
        flex-direction:column;
        align-items: center;
        
        width: 80%;
        height: auto;
        .contact_info{
            align-items: center;
            text-align: center;
            margin-right: 0;
            h3{
                margin: 3rem 0;
            }
            h4{
                margin-bottom: 2rem;
            }
        }
    }


    .form{
        margin-top: 4rem;
    }

    .checkBox button{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin: 0 auto;
    
    }

    .quick-links ul{
        display: flex;
        flex-direction: column;
        li{
            padding-top: 20px;
        }
    } 

    .footer{
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }


}





