/* CARDS */

.titleCards {
    p{
        color: gray;
        font-size: 30px;
    }
    span{
        color: black;
        font-size: 3rem;
    }
    @include titulos;
    h1{
        font-size: 3*$texto2;
    }

}



.titleCards:hover{
    animation: titleCards 1.5s ease-in-out infinite both;
    @keyframes titleCards {
        from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
        }
        10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
        }
        17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
        }
        33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
        }
        45% {
        transform: scale(1);
        animation-timing-function: ease-out;
        }
    }
    
}

// Products Cards //
.h__cards{
    display: flex;
    flex-wrap: wrap;
    // margin-top: 5rem;
    // margin-bottom: 10rem;
    text-align: center;
    justify-content: space-around;
    margin: 4rem 9rem;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            width: 17rem;
            padding: 17px;
            border-radius: 15px;
            margin-top: 2rem;
            
            .image{
                height: 230px;
                width: 100%;
            }
            .product_details {
                span{
                font-size: 16px;
            }
                    h5{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                }
                .star{
                    color: gold;
                }
                p{
                    color: gray;
                    font-size: 12px;
                    margin: 15px 0;
                }
                button{
                    float: right;
                    background-color: rgba(0, 0, 0, 0.94);
                    color: white;
                    border: none;
                    padding: 10px 18px;
                    border-radius: 15px;
                    a{
                        color: white;
                }
            }   
        }
    }
}
//btn whatsap 
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    &:hover{
        text-decoration: none;
        color: #0df053;
        background: #fff;
    }
} 
.section__cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    justify-content: space-around;
    .card1{
        width: 230px;
        height: 300px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 4px;
        background-image: url(../Img/Img_index/img230px1.png);
        background-size: cover;
    }
    .card2{
        width: 230px;
        height: 300px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 4px;
        background-image: url(../Img/Img_index/GFB230px.png);
        background-size: cover; 
    }
    .card3{
        width: 230px;
        height: 300px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 4px;
        background-image: url(../Img/Img_index/img230px3.png);         background-size: cover;     
    } 
}



.card:hover{
    animation: card 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @keyframes card {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
}