/* CARDS */

.titleCards {
    @include titulos;
    h1{
        font-size: 3*$texto2;
    }
}

.titleCards:hover{
    animation: titleCards 1.5s ease-in-out infinite both;
    @keyframes titleCards {
        from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
        }
        10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
        }
        17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
        }
        33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
        }
        45% {
        transform: scale(1);
        animation-timing-function: ease-out;
        }
    }
    
}


.section__cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    justify-content: space-around;
    .card1{
        width: 310px;
        height: 450px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 4px;
        background-image: url(../Img/imgW/GFB1.jpg);
        background-size: cover;
    }
    .card2{
        width: 310px;
        height: 450px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 4px;
        background-image: url(../Img/imgW/GFB2.jpg);
        background-size: cover; 
    }
    .card3{
        width: 310px;
        height: 450px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 4px;
        background-image: url(../Img/imgW/GFB3.jpg);
        background-size: cover; 
    }
}



.card:hover{
    animation: card 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @keyframes card {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
}



