/* CARDS */
body{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BBBBBB' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BBBBBB' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.hero {
    width: 100%;
    background-size: cover;
    margin-top: 7.5rem; }
    .hero .banner {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }

.titleCards {
    @extend .title__products;
    .p__1{
        font-family: 'Secular One', sans-serif;
        font-size: 80px;
        font-weight: 200;
        color:rgb(90, 25, 25);
    }
    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 100px;
    }
    .p__2{
        font-size: 50px;
    }
    .p__3{
        @extend h1;
        font-size: 70px;
        span{
            color: goldenrod;
            text-shadow: 3px solid black;
        }
    }

    

}


// Products Cards //
.h__cards{
    display: flex;
    flex-wrap: wrap;
    // margin-top: 5rem;
    // margin-bottom: 10rem;
    text-align: center;
    justify-content: space-around;
    margin: 4rem 9rem;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            width: 17rem;
            padding: 17px;
            border-radius: 15px;
            margin-top: 2rem;
            
            .image{
                height: 230px;
                width: 100%;
            }
            .product_details {
                span{
                font-size: 16px;
            }
                    h5{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                }
                .star{
                    color: goldenrod;
                }
                p{
                    color: gray;
                    font-size: 12px;
                    margin: 15px 0;
                }
                button{
                    float: right;
                    background-color: goldenrod;
                    color: white;
                    border: none;
                    padding: 10px 18px;
                    border-radius: 15px;
                    a{
                        color: black;
                        &:hover{
                            color: white;
                        }
                }
            }   
        }
    }
}
//btn whatsap 
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    &:hover{
        text-decoration: none;
        color: #0df053;
        background: #fff;
    }
} 

.review__title{
        font-size: 40px;
        font-weight: 200;
        text-align: center;
        margin-top: 8rem;
    
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 4rem 8rem;
        .review__card{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            width: 510px;
            // padding: 17px;
            border-radius: 15px;
            margin-top: 2rem;
            
            .review__image{
                .review__img{
                    padding: 10px;
                    width: 200px;
                    height: auto;
                    border-radius: 15px;
                }
            }
            .product_details {
                span{
                font-size: 16px;
                text-align: center;
            }
                    h5{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                    padding: 10px;
                }
                .star{
                    color: goldenrod;
                }
                p{
                    color: gray;
                    font-size: 12px;
                    margin: 10px 0;
            }
        }
    }
}






.card:hover{
    animation: card 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @keyframes card {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
}