$bg: #F0F0F0 ;
$navbar: 1.4rem;
$texto2: 1.5rem;
$titulo: 6rem;
$cardWidth: 310px;
$cardHeight: 450px;

@mixin titulos {
    text-align: center;
    margin-top: 4rem;
}

// extend
.ucard{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

// font-family: 'Poppins', sans-serif;
// font-family: 'Secular One', sans-serif;

// brand logo color 
// rgba(135,103,8,255)