/* HOME */
.title__products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 60px;
    }
    p{
        font-size: 30px;
        font-weight: 100;
    }
}

.cards{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 60px;
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 600
        }
    }
    .cardM{
        @extend .ucard;
        background-size: cover;
        background-image: url(../Img/imgM/ST.jpg);
        justify-content: space-between;
        h2 {
            text-align: start;
            justify-content: start;
            padding-left: 2rem;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 4rem;
        }
    }

    .cardM:hover{
        animation: cardM 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes cardM {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }
    }

    .cardW{
        @extend .ucard;
        background-size: cover;
        background-image: url(../Img/imgW/2.jpg);
        justify-content: space-between;
        h2 {
            color: whitesmoke;
            text-align: center;
            // padding-left: 1rem;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 4rem;
        }
    }

    .cardW:hover{
        animation: cardW 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes cardW {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }
    }

    .text__cards:hover{
        animation: text__cards 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes text__cards {
            0% {
            letter-spacing: 1em;
            transform: translateZ(300px);
            filter: blur(12px);
            opacity: 0;
            }
            100% {
            transform: translateZ(12px);
            filter: blur(0);
            opacity: 1;
            }
        }
    }
}

// Products Cards //
.p__cards{
    display: flex;
    flex-wrap: wrap;
    // margin-top: 5rem;
    // margin-bottom: 10rem;
    text-align: center;
    justify-content: space-around;
    margin: 4rem 9rem;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            width: 17rem;
            padding: 17px;
            border-radius: 15px;
            margin-top: 2rem;
            .image{
                height: 230px;
                width: 100%;
            }
            .product_details {
                span{
                font-size: 16px;
            }
                    h5{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                }
                .star{
                    color: goldenrod;
                }
                p{
                    color: gray;
                    font-size: 12px;
                    margin: 15px 0;
                }
                button{
                    float: right;
                    background-color: goldenrod;
                    color: white;
                    border: none;
                    padding: 10px 18px;
                    border-radius: 15px;
                    a{
                        color: black;
                        &:hover{
                            color: white;
                        }
                }
            }   
        }
    }
}


.card__image{
        transition: transform 0.5s;
        &:hover{
            transform: scale(1.1);
        }  
}




.card:hover{
    animation: card 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @keyframes card {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
}

.p__banner{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    img{
        width: 100%;
    }
}