/* HOME */


.body__home{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BBBBBB' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BBBBBB' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.cards{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    justify-content: space-around;
    .cardM{
        @extend .ucard;
        background-size: cover;
        background-image: url(../Img/imgM/ST.jpg);
        justify-content: space-between;
        h2 {
            text-align: start;
            justify-content: start;
            padding-left: 2rem;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 4rem;
        }
    }

    .cardM:hover{
        animation: cardM 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes cardM {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }
    }

    .cardW{
        @extend .ucard;
        background-size: cover;
        background-image: url(../Img/imgW/2.jpg);
        justify-content: space-between;
        h2 {
            color: whitesmoke;
            text-align: end;
            padding-left: 2rem;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 4rem;
        }
    }

    .cardW:hover{
        animation: cardW 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes cardW {
        0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }
    }

    .text__cards:hover{
        animation: text__cards 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @keyframes text__cards {
            0% {
            letter-spacing: 1em;
            transform: translateZ(300px);
            filter: blur(12px);
            opacity: 0;
            }
            100% {
            transform: translateZ(12px);
            filter: blur(0);
            opacity: 1;
            }
        }
    }
}

