

 /* About us */

.body__aboutus{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.26'%3E%3Cpolygon fill='%23dbdadd' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23b7b6bb' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23929199' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%236e6d77' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234A4855' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
}

.q{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    .qa{
        @include titulos;
        h4{
            font-size: 3rem;
        }
        p{
            margin-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }

    }

}

.title__aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.title__aboutus h2{
        font-size: 4*$texto2;
}



.section__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    
}

.section__contact h3{
    font-size: 300px;
}

.nameCard {
    position: relative;
    width: 210px;
    height: 250px;
    margin: 20px;
}

.nameCard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.nameCard .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.nameCard .front h3 {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 250px;
    line-height: 260px;
    color: rgb(44, 45, 76);
    text-align: center;
}

.nameCard .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}


.nameCard .back h3 {
    font-size: 40px;
    margin-top: 70px;
    letter-spacing: 2px;
}


.nameCard:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.nameCard:hover .back {
    transform: perspective(600px) rotateY(360deg);
}



