

 /* About us */

.body__aboutus{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.26'%3E%3Cpolygon fill='%23dbdadd' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23b7b6bb' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23929199' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%236e6d77' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234A4855' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
}

.q{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    .qa{
        @include titulos;
        background: rgba(164, 160, 120, 0.4);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        border-radius: 10px;
        margin: 1rem;
        h4{
            font-size: 3rem;
        }
        p{
            margin-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1rem;
        }

    }

}

.title__aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.title__aboutus h2{
        font-size: 4*$texto2;
}

.hashtag:hover{
    animation: hashtag 2.5s linear both;
        @keyframes hashtag {
            0% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
            }
            13.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
            }
            14% {
            opacity: 0;
            text-shadow: none;
            }
            14.9% {
            opacity: 0;
            text-shadow: none;
            }
            15% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
            }
            22.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
            }
            23% {
            opacity: 0;
            text-shadow: none;
            }
            24.9% {
            opacity: 0;
            text-shadow: none;
            }
            25% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
            }
            34.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
            }
            35% {
            opacity: 0;
            text-shadow: none;
            }
            39.9% {
            opacity: 0;
            text-shadow: none;
            }
            40% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
            }
            42.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
            }
            43% {
            opacity: 0;
            text-shadow: none;
            }
            44.9% {
            opacity: 0;
            text-shadow: none;
            }
            45% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
            }
            50% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
            }
            54.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
            }
            55% {
            opacity: 0;
            text-shadow: none;
            }
            69.4% {
            opacity: 0;
            text-shadow: none;
            }
            69.5% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
            }
            69.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
            }
            70% {
            opacity: 0;
            text-shadow: none;
            }
            79.4% {
            opacity: 0;
            text-shadow: none;
            }
            79.9% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
            }
            80% {
            opacity: 0;
            text-shadow: none;
            }
            89.8% {
            opacity: 0;
            text-shadow: none;
            }
            89.9% {
            opacity: 1;
            text-shadow: none;
            }
            90% {
            opacity: 0;
            text-shadow: none;
            }
            100% {
            opacity: 0;
            }
        }
}



.section__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    
}

.section__contact h3{
    font-size: 300px;
}

.nameCard {
    position: relative;
    width: 210px;
    height: 250px;
    margin: 20px;
}

.nameCard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.nameCard .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.nameCard .front h3 {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 250px;
    line-height: 260px;
    color: rgb(44, 45, 76);
    text-align: center;
}

.nameCard .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}


.nameCard .back h3 {
    font-size: 40px;
    margin-top: 70px;
    letter-spacing: 2px;
}


.nameCard:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.nameCard:hover .back {
    transform: perspective(600px) rotateY(360deg);
}



