

 /* About us */

.q{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    .qa{
        @include titulos;
        
        margin: 1rem;
        h4{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 3rem;
        }
        p{
            margin-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 18px;
        }

    }

}

.title__aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.title__aboutus h2{
        font-family: 'Poppins', sans-serif;
        font-size: 4*$texto2;
}

.hashtag{
    animation: hashtag 4s linear infinite both;
    @keyframes hashtag {
        0% {
        opacity: 0;
        }
        10% {
        opacity: 0;
        text-shadow: none;
        }
        10.1% {
        opacity: 1;
        text-shadow: none;
        }
        10.2% {
        opacity: 0;
        text-shadow: none;
        }
        20% {
        opacity: 0;
        text-shadow: none;
        }
        20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
        }
        20.6% {
        opacity: 0;
        text-shadow: none;
        }
        30% {
        opacity: 0;
        text-shadow: none;
        }
        30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.6% {
        opacity: 0;
        text-shadow: none;
        }
        45% {
        opacity: 0;
        text-shadow: none;
        }
        45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55.1% {
        opacity: 0;
        text-shadow: none;
        }
        57% {
        opacity: 0;
        text-shadow: none;
        }
        57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60.1% {
        opacity: 0;
        text-shadow: none;
        }
        65% {
        opacity: 0;
        text-shadow: none;
        }
        65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        75.1% {
        opacity: 0;
        text-shadow: none;
        }
        77% {
        opacity: 0;
        text-shadow: none;
        }
        77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85.1% {
        opacity: 0;
        text-shadow: none;
        }
        86% {
        opacity: 0;
        text-shadow: none;
        }
        86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
    }
    
}

.section__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    
}

.section__contact h3{
    font-size: 300px;
}

.nameCard {
    position: relative;
    width: 210px;
    height: 250px;
    margin: 20px;
}

.nameCard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.nameCard .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.nameCard .front h3 {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 250px;
    line-height: 260px;
    color: rgb(44, 45, 76);
    text-align: center;
}

.nameCard .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(135,103,8,255);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}


.nameCard .back h3 {
    font-size: 50px;
    margin-top: 70px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


.nameCard:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.nameCard:hover .back {
    transform: perspective(600px) rotateY(360deg);
}



