/* Contact html */

.contact__form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 600px;
    height: 500px;
    margin: 10rem  auto;
    padding: 20px 40px;
    .contact_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
        h3{
            font-size: 2rem;
            // text-align: center;
            padding-top: 0;
        }
        h4{
            font-size: 15px;
            // text-align: center;
            color: gray;
        }
        .comment_info{
            width: 200px;
            line-height: 20px;
            
        }
        .phone{
            margin: 20px auto;
            font-size: 18px;
        }
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        
        input{
            /* background-color: rgba(184, 183, 183, 0.5); */
            background: none;
            border: none;
            border-bottom: solid black;
        }
        .name input{
            width: 300px;
        }
        .email__form input{
            width: 305px;
        }
        .phone__form{
            .phonecode{
                width: 30px;
            }
            .pnumber{
                width: 270px;
            }
        }
        .description{
            background: none;
        }
        .checkBox{
            display: flex;
            flex-direction: column;
            gap: 10px;
            button{
                margin-top: 1rem;
                padding: 5px 20px;
                &:hover{
                    background-color: darkgoldenrod;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}



